header{
    margin-top:75px;
    a{
        margin:55px 0 0 250px;
        text-decoration:none;
        font-size:26px;
    }
    .homepage{
        color:rgb(250,02,17);
    }
    .quizpage{
        color:rgb(200,85,03);
    }
    .loginpage{
        color:rgb(5,30,160);
    }
    .stats{
        color:rgb(87,20,125);
    }
}