.allBlocks{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 25px;
    width: 30%;
}

.singleBlock{
    width:10%;
    min-height:50px;
    margin: 0.5px;
}

.activeBlock{
    width:10%;
    min-height:50px;
    margin: 0.5px;
    box-sizing:border-box;
    border:6px solid black;
}